<div class="card flex justify-content-center mt-6">
  <p-card header="個人資料">
    <div class="formgrid grid">
      <div class="field col">
        <label for="firstname2">name</label>
        <input id="firstname2" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" [(ngModel)]="name">
      </div>
      <div class="field col">
        <label for="lastname2">email</label>
        <input id="lastname2" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" [(ngModel)]="email">
      </div>
    </div>
  </p-card>
</div>
